:root {
  --salmon: #ef9d71;
  --white: #fff;
  --black: #000;
  --cyan: #aedee0;
  --dsalmon: #532521;
  --dcyan: #1f2f32;
  --yellow: #f5f19c;
  --light-purple: #e9bbff;
}

body {
  transition: background-color ease-out 0.5s;
}

.vdodiv {
  clip-path: circle(var(--clip) at 50% 50%);
}

*::selection {
  background-color: var(--salmon);
  color: var(--dsalmon);
}

body[theme="black"] {
  background-color: var(--black);
}
body[theme="black"] .section {
  color: var(--white);
}

main[theme="black"] {
  border: 1px solid white; /* Change this to your desired border style */
}

body[theme="cyan"] {
  background-color: var(--cyan);
}
body[theme="cyan"] .section {
  color: var(--dcyan);
}
body[theme="salmon"] {
  background-color: var(--salmon);
}
body[theme="salmon"] .section {
  color: var(--dsalmon);
}
body[theme="white"] {
  background-color: var(--white);
}
body[theme="white"] .section {
  color: var(--black);
}
